.container  
  %h1 Users
  %p#notice= notice

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th First name
        %th Last name
        %th Email
        %th Username
        %th Password
        %th Status
        %th{colspan: 6} Actions


    %tbody
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= user.username
          %td= user.password
          %td= user.status
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= link_to 'Trim', trim_user_path(user)
          %td= link_to 'Massage and Trim', massage_and_trim_user_path(user)
          %td= link_to 'Shave', shave_user_path(user)
  %br

  = link_to 'New User', new_user_path
