%h1= I18n.t('massageAndTrim')
= image_tag(@user.avatar_url,height: 100)
= form_tag massaging_and_trimming_user_path, :method => :post do
  %table.table-striped.table-bordered
    %tr
      %td= I18n.t('fullName')
      %td= @user.fullname
    %tr
      %td= I18n.t('beardLength')
      %td.beardLength= @user.beard_length
    %tr
      %td= I18n.t('trimLength')
      %td
        = text_field_tag 'length', '0'
    %tr
      %td= I18n.t('massageType')
      %td
        = select_tag "type", options_for_select([ I18n.t('backMassage'), I18n.t('bodyMassage'), I18n.t('legMassage') ], "Back massage")
    %tr
      %td
        = submit_tag I18n.t('massageAndTrim')
      %td
        = link_to I18n.t('backToList') ,root_path
