%h1 Create user
= form_for @user do |f|
	
	- if @user.errors.any?

		%div
			%ul
				- @user.errors.full_messages.each do |msg|
					%li
						= msg


	%div
		%div First name
		%div
			= f.text_field :first_name

	%div
		%div Last name
		%div
			= f.text_field :last_name

	%div
		%div Email
		%div
			= f.text_field :email

	%div
		%div Beard length
		%div
			= f.text_field :beard_length

	%div
		= f.submit 'Save'