%h1= I18n.t('shave')
= form_tag shaving_user_path, :method => :post do
  %table.table-striped.table-bordered
    %tr
      %td= I18n.t('fullName')
      %td= @user.fullname
    %tr
      %td= I18n.t('beardLength')
      %td.beardLength= @user.beard_length

    %tr
      %td
        = submit_tag I18n.t('shave')
      %td
        = link_to I18n.t('backToList') ,root_path

