%h1 Users

%table.table-striped.table-bordered
  %tr
    %th Fullname
    %th Actions
  - @users.each do |user|
    %tr
      %td= user.fullname
      %td
        = link_to 'Trim', trim_user_path(user), :id => "#{user.id}", :class => 'trim', :data => {:url => '/trim'}
        = link_to 'Massage and Trim', massage_and_trim_user_path(user), :id => "#{user.id}", :class=> 'massage-trim', :data => {:url => '/massage_and_trim'}
        = link_to 'Shave', shave_user_path(user), :id => "#{user.id}", :class => "shave", :data => {:url => '/shave'}
        = button_to "Reset", reset_user_path(user), :method => :put

%h2 Sign up!
=form_for :user, :url=>{:controller => 'users', :action=>'create'} do |f|
  =f.label :first_name
  =f.text_field :first_name
  =f.label :last_name
  =f.text_field :last_name
  =f.label :email
  =f.text_field :email
  =f.label :username
  =f.text_field :username
  =f.label :password
  =f.password_field :password
  =f.submit
