%h1= I18n.t('trim')
= image_tag(@user.avatar_url,height: 100)

= form_tag trimming_user_path, :method => :post do
  %table.table-striped.table-bordered
    %tr
      %td= I18n.t('fullName')
      %td= @user.fullname
    %tr
      %td= I18n.t('beardLength')
      %td.beardLength= @user.beard_length
    %tr
      %td= I18n.t('trimLength')
      %td
        = text_field_tag 'length', '0'

    %tr
      %td
        = submit_tag I18n.t('trim')
      %td
        = link_to I18n.t('backToList') ,root_path

